<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anjaniprasad.qrmaker_reader">

    <uses-sdk tools:overrideLibrary="android.support.test" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.READ_GMAIL" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".First"
            android:label="QrMaker-Reader"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MovieShow"
            android:label="See" />
        <activity
            android:name=".Movieshow2"
            android:label="See" />
        <activity
            android:name=".Postloginclass"
            android:label="Admin"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Success"
            android:label="Success"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Generate"
            android:label="Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Qrdisp"
            android:label="QR-Code"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PostLoginClass1"
            android:label="User"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Scan"
            android:label="Scan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Scan1"
            android:label="Scan"
            android:theme="@style/AppTheme" />
        <activity android:name=".Addmv" />
        <activity android:name=".Succ" />
        <activity
            android:name=".Delete"
            android:label="@string/title_activity_delete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".change" />
        <activity android:name=".Forgot"></activity>
    </application>

</manifest>